* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --dark-blueish: #11101d;
    --dark-pinkish: #fb28a1;
    --white-color: #fff;
}

.light-mode {
    --dark-blueish: #cfbc0c;
    --dark-pinkish: black;
}

.container {
    display: flex;
    align-items: center;
}

.sidebar {
    height: 100vh;
    width: 270px;
    background-color: var(--dark-blueish);
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    color: var(--white-color);
    display: flex;
}

.sidebar .logo-details i {
    font-size: 30px;
    width: 70px;
    line-height: 50px;
    text-align: center;
}

.sidebar .logo-details .logo-name {
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

.sidebar .nav-links {
    padding: 30px;
    height: calc(100% - 60px);
}

.sidebar .nav-links ul li {
    list-style: none;
}

.sidebar .nav-links ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
}

.sidebar .nav-links ul li a i {
    font-size: 22px;
}

.sidebar .nav-links ul li a .link-name {
    font-size: 18px;
}

.main-content {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-pinkish);
}